html, body {
  background-color: #2e2e2e; /* Dark grey */
  color: #ffffff; /* White text for better contrast */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 666px; /* Restrict the max width */
  width: 100%; /* Make it responsive */
  margin: 0 auto;
}

h1 {
  color: #f0f0f0; /* Custom color */
  font-size: 2.5em; /* Custom font size */
  font-weight: bold; /* Bold text */
  text-align: center; /* Center align */
  margin-top: 50px; /* Space above */
  margin-bottom: 20px; /* Space below */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
  background-color: #2e2e2e; /* Background color */
  padding: 15px; /* Padding around the text */
  border-radius: 8px; /* Rounded corners */
}


#taskChecklist {
  background-color: #4d4d4d; /* Lighter grey */
  color: #000000; /* Black text in checklist boxes */
  padding: 15px;
  border-radius: 8px; /* Optional rounded corners for a softer look */
}

#authStatus {
  font-size: small;
  position: absolute;
  top: 20px;
  right: 10px;
}

#authContainer {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
}

#taskChecklist {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px;
}

.task {
  display: flex;
  justify-content: space-between; /* Space items across the width */
  align-items: center; /* Align items to the center */
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.checkbox-heading {
  margin-bottom: 5px;
  font-weight: bold;
}

.checkbox-item {
  display: flex;
  align-items: center; /* Align checkbox and text vertically */
  margin-bottom: 5px; /* Space between each checkbox row */
}

.checkbox-item input[type="checkbox"] {
  margin-right: 8px; /* Space between checkbox and label */
}

.link-button {
  align-self: center; /* Center the link button vertically within the task div */
  width: 30px;
  height: 30px;
  background-color: #888;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 30px; /* Centers text vertically */
}


.link-button a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.save-progress-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000; /* Ensures the button stays on top */
}

.legend {
  background-color: #4d4d4d;
  color: white;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}
/* Style for the toggle button */
#authToggleButton {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Modal styles */
.auth-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  z-index: 1000;
  border: 2px solid #fff;
}

.auth-modal h2 {
  margin-top: 0;
}

.auth-modal input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

.auth-modal button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.auth-modal p {
  font-size: 0.9em;
}

.auth-modal a {
  color: #00aaff;
  text-decoration: none;
}

#progressChartContainer {
  margin: 15px;
  padding: 15px;
  background-color: #4d4d4d;
  border-radius: 8px;
  color: #ffffff;
  border: 1px solid #ddd;
  overflow: hidden;
  height: 200px; 

}

#progressChart {
  max-width: 100%;
}

.hidden {
  display: none;
}


.chartjs-label, .chartjs-title, .chartjs-legend, .chartjs-tooltip {
  color: #ffffff; /* Adjust to the desired font color */
}




.colourNone { background-color: #aec6cf; }
.colourOne { background-color: #ff6961; }
.colourTwo { background-color: #ffb347; }
.colourThree { background-color: #fdfd96; }
.colourFour { background-color: #77dd77; }
